/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------- General ------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
    color: #FFF;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
    color: inherit;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:rgb(0, 4, 17, .8);
    padding-top: 2%;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 1.5% 0 1.2% 0;
}

.social-icons i {
    font-size: 4rem;
    margin: 0 2.5%;
}

h1{
    text-align: center;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17, .8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,4,17,.8);
}

.menu h2 {
    text-align: center;
    padding: 4% 0 2% 0;
}

.all-menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15%;
    padding-bottom: 5%;;
}

.layout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.menu-section {
    display: flex;
    width: 35%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-top: 4%;
}

.menu-section h3 {
    padding-bottom: 2%;
}

.menu-item {
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    flex-grow: 1;
    padding-bottom: 4%;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.menu-item h4 {
    display: inline-block;
}

/* footer section */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    border-top: 1px solid #fff;
    background-color:rgb(0, 4, 17);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sign-up {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.sign-up label {
    font-size: 4rem;
}

.footer-nav {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.input {
    display: flex;
    margin-left: 2%;
}

.input input, button {
    font-size: 4rem;
}

footer p {
    font-size: 2rem;
    align-self: flex-end;
    padding: .5% 7% 0 0;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    h1 {
        font-size: 4rem;
        width: 70%;
        margin: 3% 0 3% 15%;
    }
    .header-menu {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .social-icons i {
        font-size: 3rem;
        margin: 3% 1% 4% 1%;
    }
    /* menu */
    .menu {
        background-image: none;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    label {
        font-size: .3rem;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 20%;
    }
    .input {
        display: flex;
        justify-content: center;
    }
    .input input, button {
        font-size: 2rem;
    }
    footer p {
        font-size: 1.5rem;
        text-align: center;
        width: 80%;
        margin-right: 6%;
        margin-top: 7%;
        margin-bottom: 2%;
    }
}
